body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

form {
  background: aliceblue;
  padding: 20px;
  border: 1px solid #ccc;
  width: 300px;
}

label {
  font-weight: bold;
}

#errors {
  margin-top: 20px;
  color: red;
  font-weight: bold;
}
